<article>
    <header>
        <h1 id="titulo">Formulario de Cadastro</h1>
    </header>
    <section>
        <div id="container">
            <form id="formulario" method="POST">
                <p>
                    <label for="name">Nome:</label>
                    <input type="text" id="name" placeholder="Digite seu nome..." name="name" required>
                </p>
                <p>
                    <label for="password">Senha:</label>
                    <input type="password" id="password" name="password" required>
                </p>
                <p>
                    <input type="submit" name="login" value="Logar" />
                </p>
            </form>
        </div>
    </section>
</article>